name: Lint and Test

on: pull_request

permissions: {}

jobs:
  lint-and-test:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: "0"
          persist-credentials: false

      - name: Set-up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: v2.7.2
          args: --config ./golangci.yml

      - name: Test
        run: make test

      - name: Build and Run
        run: |
          make build
          ./parquet-cli row-stats --columns 1,2,3 --limit 2 --offset 1 ./example/nested.parquet
