name: Release

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: "0"
          persist-credentials: false

      - name: Set-up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Test
        run: make test

      - name: Goreleaser
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          distribution: goreleaser
          version: latest
          args: release --clean

      - name: Upload assets
        uses: actions/upload-artifact@v4
        with:
          name: parquet-cli
          path: dist/*
